.cargo-h1 {
  text-align: center;
  font-size: 60px;
}
.cargo-p {
  text-align: center;
  font-size: 25px;
  margin: 1rem;
}
.cargo-image {
  height: 300px;
  border: 10px solid white;
}

.cargo-image:hover {
  z-index: 1;
}
.animated-element {
  position: relative;
  left: 100%;
  opacity: 0;
  transition: left 3s, opacity 3s;
}

.animated-element.animateview {
  left: 0;
  opacity: 1;
}
