.grid-container {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
}

.contact-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 48px;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.4);
  color: red;
}

span {
  font-size: 2rem;
  font-weight: bold;
}
.company-description {
  font-size: 32px;
  color: #fff;
  margin: 0;
  font-weight: bold;
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 20rem;
  border: 5px solid rgb(211, 210, 210);
}
.form-group input:focus,
.form-group textarea:focus {
  background-color: #e1e1e1;
}
.form-group textarea {
  width: 25rem;
  height: 5rem;
}

.submit {
  width: 10rem;
  height: 2rem;
}
.submit:hover {
  background-color: red;
  transform: scale(1.2);
}
iframe {
  border: 5px solid rgb(211, 210, 210);
  align-items: center;
}
