#app {
  width: 100%;
}
html,
body {
  height: 100vh;
  width: 100%;
  background-color: #edecec;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
img:hover {
  z-index: 1;
}
.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  margin-top: 6rem;
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  margin-top: 1rem;
  font-size: 21px;
}

.swiper-slide .text {
  margin-top: 1rem;
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.transport-text {
  margin-top: 2rem;
  font-size: 1.5125rem;
  text-align: center;
}
.transport-images {
  margin-top: 2rem;
  text-align: center;
}

.animated-element {
  position: relative;
  left: 100%;
  opacity: 0;
  transition: left 3s, opacity 3s;
}

.animated-element.animate {
  left: 0;
  opacity: 1;
}
.transport-h1 {
  font-size: 60px;
}
.transport-p {
  font-size: 25px;
}
.forwarder {
  display: block;
}
.forwarder-h1 {
  font-size: 60px;
  margin-left: 1rem;
  text-align: center;
}
.forwarder-p {
  font-size: 25px;
  margin-left: 1rem;
  text-align: center;
}
.swiper-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.mySwiper {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}
h1,
h3,
h4 {
  font-style: italic;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.lab-h1 {
  font-size: 50px;
  text-align: center;
}
.lab-p {
  font-size: 25px;
  text-align: center;
}
.lab-container {
  margin-top: 1rem;
}
.lab-images {
  margin-top: 2rem;
  margin-left: 1rem;
}
@media (max-width: 600px) {
  .animated-element {
    width: 240%;
  }
  .forwarder-h1 {
    font-size: 40px;
  }
}
.lab-text {
  margin-top: 2rem;
  font-size: 21px;
  text-align: center;
}
.transport {
  margin-top: 5rem;
  text-align: center;
}
