.navLink {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

.isActive {
  color: rgb(249, 247, 247);
}
.navLink:hover {
  color: #7a0303;
  font-weight: 500;
}
