.lab-h1 {
  font-size: 60px;
}
.lab-p {
  font-size: 25px;
}
.lab-container {
  margin-top: 3rem;
}
.lab-images {
  margin-top: 2rem;
  margin-left: 1rem;
}
.lab-text {
  margin-top: 7rem;
  margin-left: 6rem;
}
